<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-light">Yelp Camp</span>
        <span class="text-light" id="WTFPL">
            <a href="http://www.wtfpl.net/">
                <svg width="22" height="15.926" viewBox="0 0 22 15.926">
                    <path style="fill:#000000;fill-opacity:1;stroke:none"
                        d="M7.3 0.398C3.522 0.398 0.461 3.461 0.461 7.239s3.061 6.841 6.839 6.841c0.957 0 1.867 -0.199 2.694 -0.553a6.815 6.815 0 0 0 2.694 0.553C16.465 14.08 19.529 11.017 19.529 7.239S16.465 0.398 12.687 0.398a6.815 6.815 0 0 0 -2.694 0.553 6.815 6.815 0 0 0 -2.694 -0.553m-0.135 2.149c1.032 0 1.987 0.331 2.765 0.892 0.778 -0.561 1.731 -0.892 2.763 -0.892 2.614 0 4.735 2.118 4.735 4.733 0 2.614 -2.121 4.735 -4.735 4.735 -1.032 0 -1.985 -0.332 -2.763 -0.892 -0.778 0.561 -1.733 0.892 -2.765 0.892 -2.614 0 -4.733 -2.121 -4.733 -4.735s2.119 -4.733 4.733 -4.733"
                        id="path2989" />
                    <path
                        style="fill:#000000;stroke:none;stroke-width:0.20000000000000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;fill-opacity:1"
                        d="M7.867 4.457h-2.251c-1.518 3.144 -0.248 5.284 0.756 5.728 1.004 0.444 2.646 0.727 3.559 -0.919 0.749 1.408 2.452 1.49 3.584 0.968 1.132 -0.521 2.231 -2.903 0.79 -5.778H12.016c0.774 1.779 0.79 4.206 0.001 4.278 -0.789 0.072 -1.017 -0.192 -0.927 -2.982l-2.243 -0.01c0.168 2.754 -0.343 3.233 -1.033 2.93s-0.66 -1.894 0.053 -4.216z"
                        id="path3768" inkscape:connector-curvature="0" sodipodi:nodetypes="cczczcczcczc" />
                </svg>
            </a>
            2024
        </span>
    </div>
</footer>