<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error <%= err.statusCode %></h4>
      <p><%= err.message %></p>
      <p>LOL you are a loser</p>
      <p class="text-break"><%= err.stack %></p>
      <hr />
      <p class="mb-0">little faggot</p>
    </div>
  </div>
</div>