<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Camp</title>
</head>

<body>
    <h1>Add a new camp ⛺</h1>
    <form action="/campgrounds" method="POST">
        <label for="title">Name</label>
        <input type="text" name="title" id="title" placeholder="Name">
        <br>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" placeholder="Price">
        <br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" rows="4" cols="50" placeholder="Description"></textarea>
        <br>
        <label for="city">City</label>
        <input type="text" name="city" id="city" placeholder="City">
        <br>
        <label for="state">State</label>
        <input type="text" name="state" id="state" placeholder="State">
        <br>
        <button>Add new</button>
    </form>
</body>

</html>