<% layout('layouts/boilerplate') %>
<div class="row mb-3 mx-2">
    <div class="col-sm-5 border border-primary rounded mx-auto p-2">
        <%- include('./login') %>
    </div>
    <div class="col-sm-2 text-center mx-auto p-2">
        <h1>OR</h1>
    </div>
    <div class="col-sm-5 border border-primary rounded mx-auto p-2">
        <%- include('./register') %>
    </div>
</div>